/********** reset styles - сброс стилей **********/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary, 
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
  line-height: 1;  
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {content:'';}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/********** common styles - общие стили **********/

body, html {
    padding: 0; margin: 0; height: 100%;
}

body {
    background: #f6f6f6;
    color: #2d2d2d;
    font-family: 'Arial', 'Helvetica';
    font-size: 16px;
    line-height: 1.5;
}

h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4, h5, h6 {font-size: 18px;}

a {color: #5c5ec5;}
a:hover {color: #1dcac1;}

header, footer, main {
    width: 100%;
}

header {
    padding: 50px 0 30px;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul li, footer ul li {
    display: inline-block;
    margin: 0 20px 0 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px; 
}

header ul a, footer ul a {
    color: #2d2d2d;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: .2s;
}

header ul a:hover, header ul a.active, footer ul a:hover, footer ul a.active {
    color: #2d2d2d;
    border-bottom: 2px solid #2d2d2d;
    transition: .2s;
}

header nav#language {
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: row-reverse;
}

header nav#language ul li {
    background: rgba(0, 0, 0, .75);
    color: #f6f6f6;
    padding: 4px 6px;
    border-radius: 100%;
    transition: .2s;
    font-size: 12px;
    opacity: .7;
    cursor: pointer;
}

header nav#language ul li abbr:active {
    color: #f66707;
}

header nav#language ul li:hover  {
    opacity: 1;
    transition: .2s;
}

header nav#language ul li a {
    color: #f6f6f6; 
    border-bottom: none;
}
   
/********** main **********/

main {
    flex-grow: 1;
    line-height: 1.8;
}

main h1, main h2, main h3, main h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2d2d2d;
    margin: 0 0 20px 0;
}

main h1 {
    text-align: center;
    margin: 30px 0 50px;
}

/********** footer **********/

footer {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-top: 1px solid #d4d4d4;
}

footer small {
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

/********** page-wrapper **********/

.page-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/********** scrolltop **********/

.scrolltop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .75);
    opacity: .7;
    cursor: pointer;
    transition: .3s;
}

.scrolltop:hover {
    opacity: 1;
    transition: .3s;
}

.scrolltop:after {
    content: "⇪";
    width: 100%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
}

/********** preview-page - страница предпросмотра **********/

.article-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 0;
    margin: 30px 0 0 0;
}

.article-holder article {
    background: #ffffff;
    margin: 10px 0 0 0;
    flex-basis: calc(33% - 4px);
}

.article-holder article a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.article-holder article .details {
    padding: 30px;
    box-sizing: border-box;
    font-size: 14px;
    color: #7d7d7d;
    flex-grow: 1;
}

.article-holder article h2 {
    font-weight: 400;
    font-size: 18px;
    color: #2d2d2d;
}

.article-holder article img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: .3s
}

.article-holder article:hover img {
    opacity: .75;
    transition: .3s
}

.article-holder article .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 30px;
    box-sizing: border-box;
    font-size: 12px;
}

.article-holder article .info .views {
    font-size: 16px;
    font-weight: 600;
    display: block;
    position: relative;
    padding: 0 0 0 16px;
}

.article-holder article .info .views:after {
    display: block;
    position: absolute;
    content: '☋';
    top: 0;
    left: 0;
}

/********** more button - кнопка Больше **********/

.more {
    margin: 20px auto 10px;
    background: rgba(0, 0, 0, .75);
    color: #ffffff;
    border-radius: 5px;
    padding: 4px 10px;
    transition: .3s;
    cursor: pointer;
    display: table;
    opacity: .7;
}

.more:hover {
    opacity: 1;
    transition: .3s;
}